<!DOCTYPE html>
<html lang="en">

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Insert PIN</h3>
        </div>
        <hr />
        <div>

            <form action="select_files" method="post">
                PIN: <input type="password" name="pin" class="span3" /><br /><br />
                <input type="submit" value="Confirm" class="span2">
            </form>
        </div>
    </div>
</body>

</html>